@{
    ViewData["Title"] = "Zakładanie konta";
}
@model RegisterViewModel

<div class="text-center">
    <p>Zakładanie konta</p>
</div>


<form asp-action="Index" asp-controller="Register">
    <div class="register-container">
        <label>
            <b>Login</b>
        </label>
        <input asp-for="UserName">
        <span asp-validation-for="UserName"></span>
    </div>
    <div class="register-container">

        <label>
            <b>Hasło</b>
        </label>
        <input asp-for="Password">
        <span asp-validation-for="Password"></span>
    </div>
    <div class="register-button"><input type="submit" value="Zarejestruj"></input></div>
</form>