@{
    ViewData["Title"] = "Zakładanie konta";
}
@model RegisterViewModel

<div class="text-center">
    <p>Zakładanie konta</p>
</div>
<br/>
<div class="text-center" >
    <form method="post" asp-action="Index" asp-controller="Register">
        <div asp-validation-summary="All"></div>
    
        <div class="register-container">
            <label class="form-label">
                <b>Login</b>
            </label>
            <input class="form-input" asp-for="UserName">
        </div>
        <div class="register-container">

            <label class="form-label">
                <b>Hasło</b>
            </label>
            <input class="form-input" asp-for="Password">
        </div>
        <br/>
        <div class="register-button"><input type="submit" class="button-big" value="Zarejestruj"></input></div>
    </form>
</div>