@{
    ViewData["Title"] = "Logowanie";
}
@model LoginViewModel

<div class="text-center">
    <p>Strona logowania</p>
</div>
<br/>
<div class="text-center" >
    <form method="post" asp-action="Index" asp-controller="Login">
        <div asp-validation-summary="All"></div>
    
        <div class="register-container">
            <label class="form-label">
                <b>Login</b>
            </label>
            <input class="form-input" asp-for="UserName">
        </div>
        <div class="register-container">

            <label class="form-label">
                <b>Hasło</b>
            </label>
            <input class="form-input" asp-for="Password">
        </div>
        <div class="register-container">
            <br/>
            <label class="form-label">
                <b>Zapamiętaj mnie</b>
            </label>
            <input asp-for="RememberMe">
            <span asp-validation-for="RememberMe"></span>
        </div>
        <br/>
        <div class="register-button"><input type="submit" class="button-big" value="Zaloguj"></input></div>
    </form>
</div>